@page
@model LockoutModel
@{
    ViewData["Title"] = "Numero de intentos excedido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta esta bloqueada actualmente, por favor tratar de ingresar en 1 minuto.</p>
</header>
